body {
    background-image: url("/resources/img/bg_508012000.png");
    background-color: azure;
}

.bg-semi-transparent {
    background-color: rgba(240, 240, 240, 0.8) !important;
}

#content-container {
    margin-top: 64px;
    margin-bottom: 64px;
}

.footer {
    border-top: 1px #222 solid;
}

.footer ul {
    padding: 0;
    margin: 0.20rem 0;
}

.footer ul li {
    list-style: none;
    display: inline-block;
}

.footer ul li::after {
    content: ' ';
    display: inline-block;
    width: 6px;
}

.footer ul li:last-child::after {
    content: none;
}
